/* Basic Style */
html body {
  background: #ffffff;
  color: #333;
  font-family: Lato, sans-serif;
}

html body ul {
  margin: 0px;
  padding: 0;
}

html body li {
  display: flex;
  flex-direction: row;
}

html body li,
html body h3 {
  clear: both;
  list-style: none;
}

html body input,
html body button {
  outline: none;
}

html body button {
  background: none;
  border: 0px;
  color: #888888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

html body button:hover {
  color: #333;
}

/* Heading */
html body h3,
html body label[for="new-task"] {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0px;
  text-transform: uppercase;
}

html body input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

html body input[type="text"]:focus {
  color: #333;
}

/* New Task */
html body input#new-task {
  /* float: left; */
  width: 318px;
}

html body p > button:hover {
  color: #0fc57c;
}

/* Task list */
html body li {
  overflow: hidden;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
}

html body li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

html body li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

html body li > input[type="text"] {
  width: 226px;
}

html body li > .delete:hover {
  color: #cf2323;
}

/* Completed */
html body #completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
html body ul li input[type="text"] {
  display: none;
}

html body ul li.editMode input[type="text"] {
  display: block;
}

html body ul li.editMode label {
  display: none;
}

#new-task-label {
  display: block;
  margin: 0 0 20px;
}

@media (min-device-width: 376px) {
  .container {
    display: block;
    width: 600px;
    margin: 100px auto 0;
  }
}

@media (max-device-width: 375px) {
  .container {
    display: block;
    width: 100%;
    margin: 1em;
  }
}

button:focus {
  border: 1px solid #3498db;
}

input[type="text"]:focus {
  border: 1px solid #3498db;
}

input[type="checkbox"]:focus {
  outline: 1px solid #3498db;
}
